# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# APK/AAB
*.apk
*.aab

# Proguard
proguard/

# OS
.DS_Store
Thumbs.db

# NDK
obj/
libs/

# Generated
app/src/main/res/values/generated.xml
